@Scripts.Render("~/bundles/jquery")
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
@{
    ViewBag.Title = "Panel";
}
<br />
<table class="table table-condensed table-hover">
    <tbody>
        @foreach (var cat in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(c => cat.CategoryName)
                </td>
                <td class="btn-toolbar-cell">
                    <div class="btn-toolbar hover-toolbar">
                        <div class="btn-group">
                            <a class="btn btn-default btn-xs" href="@Url.Action("Edit", new { id = cat.CategoryId })" title="Edit Category"><i class="fa fa-pencil">Edit</i></a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
