@model Inventory.Models.Item
@{
    ViewBag.Title = "Create Item";
}

<div class="title-section">
    <h4>Create Category</h4>
</div>

@using (Html.BeginForm("Create", "Item", FormMethod.Post, new { @class = "form-horizontal" }))
{
     @Html.Partial("_Edit")
}

