@model Inventory.Models.Category
@{
    ViewBag.Title = "Index";
}
<div class="form-group">
    @Html.LabelFor(model => model.CategoryName, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-7">
        @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CategoryName)
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10 form-btns">
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i>
            @if (string.Equals(HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString(), "Create", StringComparison.OrdinalIgnoreCase))
            {
                <span>Create</span>
            }
            else
            {
                <span>Save</span>
            }
        </button>
        <a href="@Url.Action("Index", "Category")" class="btn btn-default"><i class="fa fa-times"></i><span>Cancel</span></a>
    </div>
</div>