@model Inventory.Models.Category
@{
    ViewBag.Title = "Create Category";
}

<div class="title-section">
    <h4>Create Category</h4>
</div>

@using (Html.BeginForm("Create", "Category", FormMethod.Post, new { @class = "form-horizontal" }))
{
     @Html.Partial("_Edit")
}

